.title {
  font-size: 70px;
  margin: 1rem 0;
}
.container {
  display: flex;
  gap: 2rem;
}
.item {
  position: relative;
}
.h1 {
  position: absolute;
  right: 15px;
  bottom: 15px;
}
.h1:hover {
  color: rgb(244, 189, 10);
}
.h3 {
  font-size: 30px;
  margin: 10px 0;
}
.img {
  object-fit: cover;
}
