.container {
  width: 42px;
  height: 24px;
  border-radius: 10px;
  padding: 4px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid hsl(53, 100%, 50%);
  position: relative;
  cursor: pointer;
}
.icon {
  font-size: 14px;
  object-fit: contain;
}
.ball {
  width: 18px;
  height: 20px;
  border-radius: 10px;
  background-color: hsl(49, 100%, 50%);
  position: absolute;
  cursor: pointer;
}
